.cards-list-container {
    width: 240px;
    height: 600px; 
    border: 1px solid #ccc;
    overflow: hidden;
}

.cards-list {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    overflow: auto; /* Enable scrolling for overflow content */
}

.card img {
    height: 290px;
}